body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    margin: 0;
    font-family: Arial, sans-serif;
}

.product-details {
    flex: 1;
    padding: 10px;
}

.product-details h1 {
    color: brown;
}

.product-details h2 {
    color: #222;
}

.old-price {
    color: cadetblue;
}

button{
    background-color: blue;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}